.game-wrapper {
  display: flex;
}

.counterWrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.board {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid black;
  margin-top: 10px;
}

.rowDisplay {
  display: flex;
}
